$pad2: 2vw;

$brandBlue: #005191;
$brandLightBlue: #539ed0;
$brandRed: #ff443b;
$brandLightOrange: #ffb351;
$brandBlack: black;
$brandOrange: #f57814;
$brandGray: #969696;
$brandWhite: white;

@mixin lockHeight($amt) {
  min-height: $amt;
  max-height: $amt;
  height: $amt;
}

@mixin lockWidth($amt) {
  min-width: $amt;
  max-width: $amt;
  width: $amt;
}

@mixin constrainDimensions($w, $h: $w) {
  @include lockHeight($h);
  @include lockWidth($w);
}

@mixin bigFont() {
  font-size: 1.8em;
  font-weight: bold;
}

%baseButton {
  @include bigFont();
  background-color: $brandLightBlue !important;
  color: $brandWhite;
}

%flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullScreen {
  @include lockHeight(100vh);
  @include lockWidth(100vw);
}

.App {
  @extend .fullScreen;
  text-align: center;
  background-color: $brandBlue;
  overflow: hidden;
}

.modalContainer {
  @extend .fullScreen;

  .modalBody {
    @include constrainDimensions(50vw, 50vh);
    @extend %flexCentered;
    z-index: 100;

    &.row:not(.column) {
      flex-direction: row;
    }

    &.column:not(.row) {
      flex-direction: column;
    }

    &.spread {
      justify-content: space-evenly;
    }
  }
}

div.navHeader {
  @include lockHeight(10vh);
  background-color: $brandLightBlue;
  padding: 0 $pad2;

  button.navBtn {
    @include constrainDimensions(64px);

    &.backBtn {
      transform: scaleX(-1);
    }
  }
}

div.gameplayContainer {
  @include lockHeight(45vh);
}

div.scoreboardContainer {
  @include lockHeight(90vh);

  div.scoreboardRow {
    @include lockHeight(calc(70vh - 2vw));

    table.scoreboard {
      width: 75vw;
      background-color: $brandWhite;
      * {
        text-align: center;
      }

      tbody {
        tr:nth-child(2n) {
          background-color: $brandLightOrange;
        }
      }

      tr.header {
        background-color: $brandGray;

        th {
          @include bigFont();
          color: $brandWhite;
        }
      }
    }

    div.scoreboardWrapper {
      @extend %flexCentered;
      align-items: flex-start;
      max-height: 75%;
      width: auto;
      overflow: hidden scroll;
      background-color: transparent;
    }
  }

  div.buttonRow {
    @include lockHeight(calc(20vh - 2vw));

    > div {
      height: 75%;
    }
  }
}

div.mainMenu {
  @include lockHeight(90vh);

  button.mainMenuBtn {
    @include lockHeight(20vh);
    @extend %baseButton;
    width: 40%;
  }
}

.answerBtn {
  @extend %baseButton;
  width: 50%;
  color: $brandWhite !important;

  &:hover {
    &:not(.decline) {
      background-color: $brandOrange !important;
    }
    background-color: $brandGray !important;
  }
}

svg.unitedWayBanner {
  transform: scale(7.5);
}
